<header></header>
<view-preloader ng-show='showViewPreloader'></view-preloader>
<navigation-fab></navigation-fab>
<div class='center' ng-show=noCluster() >
	<p class='flow-text'>
		No cluster yet! Update user list to create the clusters. 
	</p>
</div>
<div ng-hide=noCluster() >
	<div class='row'>
	    <form class='col s12'>
	    	<div class='row'>
	        	<div class='input-field col s12'>
	          		<input id='cut_depth' type='text' ng-model='depth' ng-change=split() >
	          		<label for='cut_depth'>
	          			Enter the depth from where you want to cut the tree, i.e. start creating the clusters (refer to the dendogram)
	          		</label>
	        	</div>
	      	</div>
	    </form>
	</div>
	<div class='row' ng-repeat='cluster in clusters'>
    	<div class='col s12'>
        	<div class='card blue-grey darken-1'>
           		<div class='card-content white-text'>
              		<span class='card-title'>Cluster #{{$index + 1}}</span>
              		<div ng-repeat='user in cluster'>
              			<span class='chip'>
              				ID #{{user.id}} : {{user.name}}
					  	</span>
					  	<span class='chip blue'>
              				Sentiment : {{user.sentiment}}
					  	</span>
					  	<!--span class='chip pink'>
              				Politeness : {{user.politeness}}
					  	</span>
					  	<span class='chip red'>
              				Dirtiness : {{user.dirtiness}}
					  	</span-->
					  	<span class='chip green'>
              				Likes score : {{user.likes}}
					  	</span>
					  	<br/>
					  	<br/>
              		</div>
            	</div>
          	</div>
        </div>
    </div>
</div>
