<header></header>
<view-preloader ng-show='showViewPreloader'></view-preloader>
<navigation-fab></navigation-fab>
<div class='center' ng-show=noCluster() >
	<p class='flow-text'>
		No dendogram yet! Update user list to create the dendogram. 
	</p>
</div>
<div ng-hide=noCluster() >
	<div class='row'>
    	<div class='col s12'>
        	<div class='card blue-grey darken-1'>
           		<div class='card-content white-text'>
              		<span class='card-title'>Dendogram</span>
              		<pre>
              			{{dendogram}}
              		</pre>
            	</div>
          	</div>
        </div>
    </div>
</div>
