<header></header>
<view-preloader ng-show='showViewPreloader'></view-preloader>
<navigation-fab></navigation-fab>
<div class='center'>
	<a class='waves-effect waves-light btn' ng-click=download_users() ><i class='material-icons left'>replay</i>Update User List</a>
	<br/><br/>
	<center ng-show='showDataUpdatePreloader'>
		<preloader></preloader>
	</center>
</div>